<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="user-details">
  <h1>Overview</h1>
  <p>
  SIGINT is proud to present <b>pwnEd 4</b>, the fourth iteration of our cybersecurity competition for university students.
  The competition will run in a <b>quals / finals format</b>, with qualifying teams being invited to the in-person finals on our Edinburgh campus.
  </p>
  <p>
  Whether you're a hacking hot-shot, or simply enjoy a challenge, <b>you won't want to miss it</b>.
  </p>
</div>

<div class="user-details" style="margin-top:60px;">
  <p class="highlight">
  Registration is now closed.
  </p>
</div>

<div class="user-details">
  <h1>Online Qualifiers</h1>
  <p style="margin-bottom: 0px">
  The qualifiers will be an online <b>jeopardy-style CTF</b> with a large variety of challenges covering everything from Binary Exploitation to Cryptography.
  </p>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
        <a class="highlight">Starts</a>: 18/02/23 10:00 UTC</br>
        <a class="highlight">Ends</a>: 19/02/23 18:00 UTC
      </b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
      <p><b>Anywhere on Earth.<br/>
        <a class="highlight">Online</a>.
      </b></p>
      <p>
      Join our
      <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9">Discord <i class="fab fa-discord" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p><b>UK university students.<br/>
        Maximum of <a class="highlight">6 per team</a>.
      </b></p>
      <p>All skill levels welcome, including beginners!</p>
    </div>
  </div>
</div>

<div class="user-details">
  <h1>In-Person Finals</h1>
  <p>
  The finals will comprise a <b>conference followed by a CTF</b> which will decide the overall winners of pwnEd 4.
  </p>
  <p style="margin-bottom: 0px;">
  Bringing together <b>industry experts and top students</b> from across the country, the finals will present a great opportunity for networking and learning more about cybersecurity.
  </p>
  <p>
  Our <b>call for speakers</b> is now open! Please get in touch with us at <a href="mailto:contact@sigint.mx">contact@sigint.mx</a> if you would like to present a ~50min talk. We are primarily looking for technical presentations, but are open to all topics.
  </p>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
        <a class="highlight">1st</a>
        -
        <a class="highlight">2nd</a>
        of
        <a class="highlight">April</a>
        2023.<br/>Times of day TBA.</b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
      <p><b>In-person on our<br/>
        <a class="highlight">Edinburgh</a> campus!
      </b></p>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p>
      <b><a class="highlight">Qualifying teams only</a>.</b><br>
      Conference tickets available<br>
      separately.
      </p>
    </div>
  </div>
</div>

<div class="user-details">
  <div class="prizes">
    <h2><a class="highlight">Prizes</a> (per team):</h2>
    <div id="first-place"> 🏆 £1000 </div>
    <div id="second-place"> 🥈 £500 </div>
    <div id="third-place"> 🥉 £250 </div>
  </div>
</div>


<div class="user-details" style="margin: 50px 0px;">
  <h2>Many thanks to our <a class="highlight">event sponsors</a>:</h2>
</div>


<div class="user" style="margin-bottom: 50px;">
  <div class="tech">
    <div class="sponsors">
      <a href="https://www.interruptlabs.co.uk/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/interrupt-labs.png" width="260px" style="zoom:1.25"/>
      </a>
    </div>
  </div>
</div>


<div class="user" style="margin-bottom: 50px;">
  <div class="tech">
    <div class="sponsors">
      <a href="https://www.trailofbits.com/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/trail-of-bits.svg" width="180px" style="zoom:0.75"/>
      </a>
      <a href="https://www.netcraft.com/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/netcraft.png" width="250px" style="zoom:0.75"/>
      </a>
    </div>
  </div>
</div>


<div style="width:350px; margin: 70px auto 50px auto;">
  <img src="/assets/sponsors/google-cloud.png" width="75px" style="float:left; margin-right:20px;" alt="Google Cloud Logo" title="Google Cloud Logo"/>
  <h3 style="margin:0px; padding:0px; display:inline; font-size: 1.45rem;">
    Infra sponsored by
    <a style="text-decoration:underline;" href="https://goo.gle/ctfsponsorship" target="_blank">
      goo.gle/ctfsponsorship
    </a>
  </h3>
</div>
