<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="user-details">
  <h1>Event Details</h1>
  <p>
    SIGINT is proud to present
    <b>pwnEd 3</b>, the third iteration of our cybersecurity competition for university students.
    Running over <b>2 days</b>, the competition will run as a
    <b>jeopardy-style CTF</b>
    with a large variety of challenges covering most categories. We will have great opportunities for networking and socialising with students and industry experts from around the UK.
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>When?</h2>
    <p><b>
      <a class="highlight">12th</a>
      -
      <a class="highlight">13th</a>
      of
      <a class="highlight">March</a>
      2022.<br/>Times of day TBA.</b></p>
  </div>
  <div class="tech">
    <h2>Where?</h2>
    <p><b>Anywhere on Earth.<br/>
      <a class="highlight">Online</a>.
    </b></p>
    <p>
      Join our
      <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9">Discord <i class="fab fa-discord" aria-hidden="true"></i></a>!
    </p>
  </div>
  <div class="tech">
    <h2>Who?</h2>
    <p><b>UK university students.<br/>
      Maximum of <a class="highlight">6 per team</a>.
    </b></p>
    <p>All skill levels welcome. <b>Including</b> beginners!</p>
  </div>
</div>

<div class="user-details">
  <div class="prizes">
    <h2><a class="highlight">Prizes</a> (per team):</h2>
    <div id="first-place"> 🏆 £1,000. </div>
    <div id="second-place"> 🥈 £750. </div>
    <div id="third-place"> 🥉 £500. </div>
  </div>
</div>

<div class="user-details">
  <h2>Many thanks to our <a class="highlight">event sponsors</a>:</h2>
</div>
<div class="user">
  <div class="tech">

    <div class="sponsors">
      <div class="sponsor">
        <a href="https://www.crowdstrike.com/">
          <img src="/assets/sponsors/crowdstrike.png" alt="CrowdStrike Logo" title="CrowdStrike Logo" />
        </a>
      </div>

      <div class="sponsor">
	  <a href="https://www.bcs.org/">
	    <img src="/assets/sponsors/bcs.png" alt="BCS Logo" title="BCS Logo" style="width: 150px;" />
	  </a>
      </div>

      <div class="sponsor">
        <a href="https://interruptlabs.co.uk/">
          <img src="/assets/sponsors/interrupt-labs.png" alt="Interrupt Labs Logo" title="Interrupt Labs Logo" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="user-details">
  <span> Registrations are now open. </span>
  <br/><br/>
  <button type=“button”><a href="https://forms.gle/s5buXXZUjwf9aMAP8">Sign up!</a></button>
</div>
