<div class="user-details">
  <h1><a id="about">About</a></h1>
  <p>
  SIGINT is proud to present <b>pwnEd 5</b>, the fifth edition of our cybersecurity competition for university students.
  The competition will follow a <b>quals/finals format</b>, where qualifying teams will be invited to the in-person finals hosted at our Edinburgh campus.
  </p>
  <p>
  Whether you're an expert in hacking or just simply looking to solve a challenge, <b>you won't want to miss it</b>.
  </p>
</div>

<!--
<div class="user-details" style="margin-top:60px; text-align:center;">
  <p style="padding: 10px; background: #ffb300; color: black; font-size: 1.5em;">
  Sign up <a target="_blank" style="color: black; text-decoration: underline;" href="https://forms.gle/7Xt4Ch4u7U5hv2dz5">here</a>! Registration closes on 31 January.
  </p>
</div>
-->

<div class="user-details">
  <h1><a id="quals">Online Qualifiers</a></h1>
  <p style="margin-bottom: 0px">
  The qualifiers will be an online <b>jeopardy-style CTF</b> with a large variety of challenges covering everything from Binary Exploitation to Cryptography.
  </p>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
        <a class="highlight">Starts</a>: 03/02/2024 15:00</br>
        <a class="highlight">Ends</a>: 04/02/2024 15:00
      </b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
      <p><b>Anywhere on Earth.<br/>
        <a class="highlight">Online</a>.
      </b></p>
      <p>
      Join our
      <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9">Discord <i class="fa-brands fa-discord" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p><b>UK university students.<br/>
        Maximum of <a class="highlight">6 per team</a>.
      </b></p>
      <p>All skill levels welcome, including beginners!</p>
    </div>
  </div>
</div>

<div class="user-details">
  <h1>In-Person Finals and Conference</h1>
  <p>
  The event will consist of a <b>Capture The Flag (CTF) followed by a conference</b> which will determine the overall winners of pwnEd 5.
  </p>
  <p>
  Bringing together <b>industry experts and top students</b> from across the country, the finals present a great opportunity for networking with top notch professionals and diving deeper into cybersecurity.
  </p>
  <p>
  Our <b>call for speakers</b> is now open! Please fill out the form <a href="https://forms.gle/Bz5XVTyRRoNpRK6L7">here</a> if you would like to present a ~50min talk. We are primarily looking for technical presentations, but are open to all topics.
  </p>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
        <a class="highlight">CTF Finals</a></br>
        <a class="highlight">Date</a>: 16/03/24 </br>
        <a class="highlight">Time</a>: 9:00 - 18:00
      </b></p>
      <p><b>
        <a class="highlight">Conference</a></br>
        <a class="highlight">Date</a>: 17/03/24 </br>
        <a class="highlight">Time</a>: 10:00 - 18:30
      </b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
      <p><b>In-person on our<br/>
        <a class="highlight">Edinburgh</a>
        campus
        <a aria-label="Location" target="_blank" href="https://maps.app.goo.gl/fYTcfvRJZPKRK3yFA"> <i class="fa-solid fa-location-dot" aria-hidden="true"></i></a>
      </b></p>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p>
      <b><a class="highlight">Qualifying teams only</a>.</b><br>
      Conference tickets available<br>
      separately.
      </p>
    </div>
  </div>
</div>


<div class="user-details">
  <h1><a id="talks">Talks</a></h1>

  <div class="speaker-container" id="talk1">
    <img class="speaker-image" src="/assets/icons/zayne_zhang.jpeg" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">Client-Side Attacks in a Post XSS World</div>
      <div class="speaker-name" onclick="popUp1()">
        <!--Zayne Zhang-->
        <span class="speaker-bio" id="speakerBio1"> 
          Zayne is a Computer Science student at the University of Cambridge. He is an avid security researcher and CTF player. He holds industry certificates such as the OSWE and OSCP, and has previously worked in TikTok's security team. In his free time, he hunts for bugs on the HackerOne platform, and plays CTFs with Blue Water, one of the top global CTF teams. 
        </span>
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      The web platform's openness and composability provide many benefits. 
      Yet, the ability for websites to interact with each other has provided many opportunities for attacks that abuse the core principles of the web.
      With the evolution of web frameworks and browsers, Cross-Site Scripting (XSS) and Cross- Site Request Forgery (CSRF) have become increasingly rare. 
      In response, new classes of client-side vulnerabilities have emerged - DOM clobbering, XS-Leaks and client-side path traversals are just a few examples.
      In this talk, we will explore the merits and potential pitfalls of various protections against XSS and CSRF, newer classes of client-side attacks and some real-world examples of their applications.
    </span>      
  </div>
  <br>

  <div class="speaker-container" id="talk2">
    <img class="placeholder-image" src="/assets/icons/pwnedtransparent.png" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">Electromagnetic eavesdropping: extracting screen content from radio waves</div>
      <div class="speaker-name" onclick="popUp2()">
        <!--Dimitrije-->
        <span class="speaker-bio" id="speakerBio2"> 
          PhD student in the hardware security group at at the University of Cambridge, working on electromagnetic eavesdropping attacks targetting video interfaces. Long-time CTF player, originally with cr0wn (now organizers) and with cheriPi.
        </span>   
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      Voltage changes in electronic circuits cause them to emit electromagnetic waves. 
      The weak signals emitted by monitors and associated cabling can be captured and processed to recover readable images from a distance. 
      In this talk, I will give an overview of emissions security, the history of these attacks, and explain how and why electromagnetic eavesdropping on computer monitors works (hopefully in a way that doesn't require prior signal processing knowledge).
    </span>
  </div>
  <br>

  <div class="speaker-container">
    <img class="placeholder-image" src="/assets/icons/pwnedtransparent.png" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">Towards the secure future of web authentication with WebAutn…Or not?</div>
      <div class="speaker-name" onclick="popUp3()">
        <!--Axton Yao-->
        <span class="speaker-bio" id="speakerBio3"> 
          Computer science student at the University of Edinburgh, open-source web developer, WordPress developer, creator of WordPress WebAuthn plugin.
        </span>
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      The new web standard, WebAuthn, known as Passkey, is replacing traditional passwords with asymmetric encryption to provide a secure and seamless web authentication experience. 
      While this is the future of web authentication, it is not a silver bullet that solves all security issues. 
      This talk will briefly introduce the technical details of WebAuthn and discuss methods of hacking WebAuthn by combining it with other attack techniques.
    </span>
  </div>
  <br>

  <div class="speaker-container">
    <img class="speaker-image" src="/assets/icons/laurence_tennant.png" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">"Bugs Are Shallow": Finding Vulnerabilities in Top GitHub Projects</div>
      <div class="speaker-name" onclick="popUp4()">
        <!--Laurence Tennant-->
        <span class="speaker-bio" id="speakerBio4">
          Laurence is an application security consultant with a broad range of interests. He is the co-founder of CryptoHack, a popular cryptography challenge platform. He got addicted to CTFs at university and has been learning as much as he can about web, cryptography, network, and infrastructure security since then. In his spare time he loves going on cycling and hiking trips.
        </span>
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      Linus's law posits that "given enough eyeballs, all bugs are shallow". 
      I wanted to put this to the test and efficiently find security bugs in top GitHub projects. 
      In this talk I run through various ways of running queries over a large corpus of open source repos. 
      We'll look at the pros and cons of using the new GitHub CodeSearch, BigQuery, grep.app, CodeQL, or ripgrepping all the cloned code on your local machine. 
      I show how this led to a finding in the #1 most starred GitHub repo, freeCodeCamp, giving me every coding certification in a single request. 
      I conclude by investigating how open source maintainers can benefit from this work.
    </span>
  </div>
  <br>

  <div class="speaker-container">
    <img class="placeholder-image" src="/assets/icons/pwnedtransparent.png" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">Your Eyes are my Eyes</div>
      <div class="speaker-name" onclick="popUp5()">
        <!--Ben R-->
        <span class="speaker-bio" id="speakerBio5">
          Ben is an Android vulnerability researcher at Interrupt Labs with experience in Linux, Android, and embedded platforms.
        </span>
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      IOT cameras are fun, IOT cameras with bugs are even more fun! 
      This talk offers an introduction to vulnerability research, demonstrating the exploitation of multiple vulnerabilities leading to remote code execution on the Wyze Cam 3, a device from the Pwn2Own Toronto 2023 Surveillance Category.
    </span>
  </div>
  <br>

  <div class="speaker-container">
    <img class="speaker-image" src="/assets/icons/sam_leonard.jpg" alt="Speaker's Image">
    <div class="talk-info">
      <div class="talk-title">How to Not Blow Your Foot Off (Writing Modern C Safely)</div>
      <div class="speaker-name" onclick="popUp6()">
        <!--Sam Leonard-->
        <span class="speaker-bio" id="speakerBio6">
          Sam (he/they) is a recent graduate from the University of Manchester with a love for CTFs. 
          Currently playing with 0rganizers. They work as a Software Engineer for Codethink, and are currently on a project to improve system's testing setup.
        </span>
      </div>
    </div>
  </div>
  <div class="talk-description">
    <span class="talk-abstract">
      C (rightly) has a reputation for being a hard language to program correctly.
      However taking advantage of modern Linux and Compiler features we can make writing C significantly safer.
      As well as eliminating whole classes of bugs in some cases, e.g. classic TOCTOU filesystem race conditions.
      This talk will be a tour of these features with some advice from my experience writing C for the systemd project.
    </span>  
  </div>
  <br>

</div>
<!--
<div class="user-details">
  <div class="prizes">
    <h2><a class="highlight">Prizes</a> (per team):</h2>
    <div id="first-place"> 🏆 £1000 </div>
    <div id="second-place"> 🥈 £500 </div>
    <div id="third-place"> 🥉 £250 </div>
  </div>
</div>

-->
<div class="user-details">
  <h2>Many thanks to our <a class="highlight">event sponsors</a>:</h2>
</div>


<div class="user">
  <div class="tech">
    <div class="sponsors">
      <a href="https://bcryptic.com/" target="_blank">
        <img src="/assets/sponsors/Bcryptic.png" class="sponsor" />
      </a>
    </div>
  </div>
</div>


<!--
<div class="user" style="margin-bottom: 50px;">
  <div class="tech">
    <div class="sponsors">
      <a href="https://www.interruptlabs.co.uk/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/interrupt-labs.png" width="260px" style="zoom:1.25"/>
      </a>
      <a href="https://venafi.com/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/venafi.png" width="260px" style="zoom:1.25"/>
      </a>
    </div>
  </div>
</div>


<div class="user" style="margin-bottom: 50px;">
  <div class="tech">
    <div class="sponsors">
      <a href="https://www.trailofbits.com/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/trail-of-bits.svg" width="180px" style="zoom:0.75"/>
      </a>
      <a href="https://www.netcraft.com/" target="_blank" style="margin: auto 0; font-size: 0;">
        <img src="/assets/sponsors/netcraft.png" width="250px" style="zoom:0.75"/>
      </a>
    </div>
  </div>
</div>


<div style="width:350px; margin: 70px auto 50px auto;">
  <img src="/assets/sponsors/google-cloud.png" width="75px" style="float:left; margin-right:20px;" alt="Google Cloud Logo" title="Google Cloud Logo"/>
  <h3 style="margin:0px; padding:0px; display:inline; font-size: 1.45rem;">
    Infra sponsored by
    <a style="text-decoration:underline;" href="https://goo.gle/ctfsponsorship" target="_blank">
      goo.gle/ctfsponsorship
    </a>
  </h3>
</div>

-->
