<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="user-details">
  <h1>Code of Conduct</h1>
  <p>
      Committee members, speakers, and conference attendees are expected to abide by the code of conduct presented below at any time. The code applies at the University of Edinburgh premises, facilities, and any events associated with SIGINT no matter where they are held. 

      Failure to follow the code can result in a warning of expulsion from the event.
  </p>
  <p>
    Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be warned or expelled from the conference without a refund at the discretion of the organizing committee. 
  </p>
  <p>
    Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    Participants asked to stop any harassing behavior are expected to comply immediately.
    
    Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
  </p>
  <h1>Breaches of the Code of Conduct</h1>
  <p>
    If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the organizing committee immediately. The organizing committe can be identified as they'll be wearing white pwnEd branded t-shirts with the label "organiser" on them.
    
    Event attendees can report complaints verbally with any organizing committee member, all of which will have been identified before the start of the event.
    Complaints can also be reported online by contacting any committee member via our <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9">Discord<i class="fab fa-discord" aria-hidden="true"></i></a>.

    Any potential breach raised with the committee will be discussed with the parties involved. Should the accused parties be found to be in violation of the Code of Conduct, the organizing committee will issue either a verbal warning or evict the relevant parties from the conference.
    
    The organizing committee will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.

    The remaining committee members will be informed about the outcome of the complaint.
  </p>
  <br>
  <br>
  <br>
  <center>
      <p>This Code of Conduct has been adapted from <a href="https://confcodeofconduct.com/">https://confcodeofconduct.com/</a> under a <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </center>
</div>
