<div id="particles-js">
  <div class="header">
      <span class="site-title">
        <div class="glitch site-title" data-text="{{ site.username }}">
          {{ site.username }}
        </div>
        <a class="number">
          {{ site.edition }}
        </a>
      </span>
      <span class="site-description" data-text="{{ site.user_title }}">
        <
        Edinburgh University's
        <a class="highlight"> flagship </a>
        CTF &amp; conference
        />
      </span>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:contact@sigint.mx"><i class="icon fa-solid fa-envelope"></i></a>
        <a aria-label="Discord" href="https://discord.gg/v6UfC2KSpr"><i class="icon fa-brands fa-discord" aria-hidden = true></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/siginthq"><i class="icon fa-brands fa-x-twitter" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/SigintEdinburgh/"><i class="icon fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a aria-label="Website" target="_blank" href="https://sigint.mx"><i class="icon fa-solid fa-up-right-from-square" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa-solid fa-chevron-down" aria-hidden="true"></i></a>
</div>
