<div id="particles-js">
  <div class="header">
      <span class="site-title">
        <div class="glitch site-title" data-text="{{ site.username }}">
          {{page.username}}
        </div>
        <a class="number">
          {{page.edition}}
          <a class="punctuation">.</a>
        </a>
      </span>
      <span class="site-description" data-text="{{ site.user_title }}">
        <
        Edinburgh University's
        <a class="highlight"> flagship </a>
        CTF &amp; conference
        />
      </span>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:contact@sigint.mx"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Discord" href="https://discord.gg/v6UfC2KSpr"><i class="icon fab fa-discord"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/siginthq"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/SigintEdinburgh/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="website" target="_blank" href="https://sigint.mx"><i class="icon fa fa-external-link" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
      </div>
  </div>
  <a class="down" href="#about2023" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
