<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
  <script type="text/javascript">
	function clog(msg, color, bg) {
	    console.log("%c" + msg, "color:" + color + ";font-weight:bold;background-color:#292a2d;")
	}
	clog("                      _____    _   _____ \n"+
	"  _ ____      ___ __ | ____|__| | |___ / \n"+
	" | '_ \\ \\ /\\ / / '_ \\|  _| / _` |   |_ \\ \n"+
	" | |_) \\ V  V /| | | | |__| (_| |  ___) |\n"+
	" | .__/ \\_/\\_/ |_| |_|_____\\__,_| |____/ \n"+
	" |_|                                     \n"+
	"      					  ", "#ffb300")
	clog("Whether this is your first year with us or are a returning contestant, we at SIGINT thank you for entrusting us with your time.", "#a9a9b3")
	clog("As per tradition, we have prepared a tiny hors d'oeuvre for you.", "white")
	clog("We hope you enjoy it.", "#a9a9b3")
	clog("167.71.140.216:9000", "#ffb300")
  </script>
</head>
