{% assign data = site.data.[page.year] %}

{% if page.qual_live %}
<div class="tickets" >
  <h1 class="glitch" data-text="Qualifiers are happening now!!!">Qualifiers are happening now!!!</h1>
  <p> Join in
    <b><a target="_blank" href="{{ page.qual_site }}">here</a></b>
  </p>
</div>
{% endif %}


<div class="user-details">
  <h1><a id="about">About</a></h1>
  <p>
    SIGINT is proud to present <b>pwnEd {{ page.edition }}</b>, the {{ page.edition }}th edition of our infosec <b>conference</b> and <b>CTF</b> for UK university students.
    The CTF will follow a <b>quals/finals format</b>, where qualifying teams will be invited to the in-person finals hosted at our Edinburgh campus.
  </p>
  <p>
    Combining a highly technical conference together with a CTF across two days, with two tracks of talks from industry leading professionals, researchers, academics and top CTF players, pwnEd is the perfect opportunity to learn, network and compete.
  </p>
  <p>
    Whether you're a seasoned CTF player, new to the game, or just simply looking to solve a challenge, <b>you won't want to miss it</b>.
  </p>
</div>

{% if page.ticket_link and (page.event_over != true) %}
  <div class="tickets" >
    <h1 class="glitch" data-text="Tickets are now live!"> Tickets are now live!</h1>
    <p> Get your conference ticket
      <a target="_blank" href="{{ page.ticket_link }}">here</a>
    </p>
  </div>
{% endif %}

{% if page.cfp_open %}
<div class="call-for-papers">
  <div class="call-for-papers-content">
    <h1><a class="user-details">Call for Speakers</a></h1>
    <p>
      Our <b>call for speakers</b> is now open! Please fill out the form <a class="highlight"
        href="{{ page.cfp_link }}">here</a> if you would like to present a ~50min talk. We are primarily
      looking for technical presentations, but are open to all topics.
    </p>
  </div>
  <div class="call-for-papers-content">
    <h1><a class="user-details" id="">Call for Sponsors</a></h1>
    <p>
      We are looking for <b>sponsors</b> to support our event! Sponsoring pwnEd is a great opportunity to showcase your
      company to some of the brightest student minds in infosec. If you are interested in sponsoring, please reach out to us for more information at <a class="highlight" href="mailto:sponsorship@sigint.mx">sponsorship@sigint.mx</a>.
    </p>
  </div>
</div>
{% endif %}

{% if page.event_over %}
  <div class="user-details" style="margin-top:60px; text-align: center;">
    <p class="highlight">
      pwnEd {{ page.edition }} is now over! Thank you all for participating!
    </p>
    <p class="next-year">
      pwnEd {{ page.edition | plus: 1 }} is coming next year. <br> Keep updated on our
      <a aria-label="Discord" target="_blank" style="color: black;" href="https://discord.gg/8XPjTrCXK9"><span
          style="text-decoration: underline;">Discord</span> <i class="fa-brands fa-discord" aria-hidden="true"></i></a>!
    </p>
  </div>
{% endif %}

<div class="user-details">
  <h1>In-Person Finals and Conference</h1>
  <p>
    The event will consist of our <b>Capture The Flag (CTF)</b> finals on day one, followed by our <b>conference</b>.
  </p>
  <p>
    Bringing together <b>industry experts and top students</b> from across the country, pwnEd {{ page.edition }} presents a great opportunity for networking with top notch professionals and diving deeper into highly technical
    cybersecurity fields.
  </p>

  {% if page.qual_registration_started %}
  <div class="qualifiers" >
    <h1 class="glitch" data-text="Qualifier registration is live!"> Qualifier registration is live!</h1>
    <p> Register for the qualifiers
      <a target="_blank" href="{{ page.qual_reg }}">here</a>
    </p>
  </div>
  {% endif %}

  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
          <a class="highlight">CTF Finals</a></br>
          <a class="highlight">Date</a>: {{ page.finals_start | date: '%Y-%m-%d' }} </br>
          <a class="highlight">Time</a>: {{ page.finals_start | date: '%T' }}
        </b></p>
      <p><b>
          <a class="highlight">Conference</a></br>
          <a class="highlight">Date</a>: {{ page.conf_start | date: '%Y-%m-%d' }} </br>
          <a class="highlight">Time</a>: {{ page.conf_start | date: '%T' }}
        </b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
        <a aria-label="Location" href="{{ page.conference_location }}">
        <p>
            <b>In-person on our <br>
            <span class="highlight">Edinburgh</span>
            campus at the Nucleus building.
            <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
            </b>
        </p>
      </a>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p>
        The conference is <b><a class="highlight">open to all</a>.</b><br>
        Only qualifying teams will be able to attend the CTF finals.
      </p>
    </div>
  </div>
</div>


<div class="user-details">
  <h1><a id="quals">Online Qualifiers</a></h1>
  {% comment %} DURING BUILD checks if the quals are now over {% endcomment %}
  {% comment %} This cursed assignment is necessary as otherwise liquid doesn't recognise these as integers. Awful language designed by people who hate me :(  {% endcomment %}
  {% assign end =  page.qual_end | date: "%s" | plus: 0 %}
  {% assign now = "now" | date: "%s" | plus: 0 %}
  {% if end < now  %}
  <p>
    The qualifiers have now <a class="highlight">ended</a>.  Congratulations to our <a class="highlight">finalists</a>:

    <ol style="text-align: left; margin: 0 auto; display: table;">
    {% for team in data.finalists %}
      {% assign team_split = team | split: " (" %}
      <li style=""><b>{{ team_split[0] }}</b> ({{ team_split[1] }}</li>
    {% endfor %}
    </ol>
    <br>
    Stay tuned for the <b>finals</b>, and
        <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9"> join us <i
            class="fa-brands fa-discord" aria-hidden="true"></i></a> for next year!
  </p>

  {% else %}

  <p style="margin-bottom: 0px">
    The qualifiers will be an online <b>jeopardy-style CTF</b> with a large variety of challenges covering everything
    from Binary Exploitation to Cryptography.
  </p>
  <div class="user">
    <div class="tech">
      <h2>When?</h2>
      <p><b>
          <a class="highlight">Starts</a>: {{ page.qual_start }} </br>
          <a class="highlight">Ends</a>: {{ page.qual_end }}
        </b></p>
    </div>
    <div class="tech">
      <h2>Where?</h2>
      <p><b>Anywhere on Earth.<br />
          <a class="highlight">Online</a>.
        </b></p>
      <p>
        Join our
        <a aria-label="Discord" target="_blank" href="https://discord.gg/8XPjTrCXK9">Discord <i
            class="fa-brands fa-discord" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="tech">
      <h2>Who?</h2>
      <p><b>UK university students.<br />
          Maximum of <a class="highlight">6 per team</a>.
        </b></p>
      <p>All skill levels welcome, including beginners!</p>
    </div>
  </div>
{% endif %}
</div>


{% if data.talks %}
<div class="user-details">
  <h1><a id="talks">Talks</a></h1>

  {% for talk in data.talks %}
    {%  capture img %}
      {% if talk.speaker.img != nil %}
        {{ talk.speaker.img |  absolute_url }}
      {% else %}
        {{ site.baseurl }}/assets/speakers/{{ talk.speaker.name | downcase | replace: ' ', '_' }}.png
      {% endif %}
    {% endcapture %}

    <div class="speaker-container">
      <img class="speaker-image" src="{{ img }}" alt="Speaker's Image">
      <div class="talk-info">
        <div class="talk-title">{{ talk.title }}</div>
        <div class="speaker-name" onclick="popUp(this)">
          {{ talk.speaker.name }}
          <span class="speaker-bio">
          {{ talk.speaker.bio }}
          </span>
        </div>
      </div>
    </div>
    <div class="talk-description">
      <span class="talk-abstract">
        {{ talk.abstract }}
      </span>
    </div>
    <br>
  {% endfor %}
{% endif %}



{% if data.prizes %}
<div class="user-details">
  <div class="prizes">
    <h2><a class="highlight">Prizes</a> (per team):</h2>
    <div id="first-place"> 🏆 £{{ data.prizes.first }} </div>
    <div id="second-place"> 🥈 £{{ data.prizes.second }} </div>
    <div id="third-place"> 🥉 £{{ data.prizes.third }} </div>
  </div>
</div>
{% endif %}



<div class="user-details">
  <h2>Many thanks to our <a class="highlight">event sponsors</a>:</h2>
</div>


{% for sponsor_tier in data.sponsors %}
  {% comment %}
    Skip infra sponsors as they're displayed separately at the bottom
    sponsor_tier[0] contains the sponsor tier name
    sponsor_tier[1] contains the list of sponsors. If it's nil, that means there are no sponsors in that tier
  {% endcomment %}
  {% if sponsor_tier[1] == nil %}
    {% continue %}
  {% endif %}
  {% if sponsor_tier[0] == "infra" or sponsor_tier[0] == "ctf" %}
    {% continue %}
  {% endif %}
  <div class="user" style="margin-bottom: 50px;">
    <div class="tech">
      {% if sponsor_tier[0] != "nolabel" %}
      <h2> {{ sponsor_tier[0] }} </h2>
      {% endif %}

      {% comment %} This is to dynamically resize the sponsors {% endcomment %}
      {% assign row_size = 3 %}
      {% assign rows = sponsor_tier[1].size | divided_by: row_size | ceil %}
      {% assign current_row_size =  sponsor_tier[1].size |  at_most: row_size %}
      {% assign element_width = 600 |  divided_by: current_row_size |  at_most: 300  %}

      {% for idx in (0..rows) %}
        <div class="sponsors">
          {% assign offset = forloop.index0 | times: row_size %}
          <div class="sponsor_row" width="600px">
          {% for sponsor in sponsor_tier[1] offset:offset limit:row_size %}
            {% comment %} TODO: Add class for sponsors so i don't have an aneurism {% endcomment %}
            <a href="{{ sponsor.url }}" target="_blank" style="margin: auto ; font-size: 0">
              <img src="{{ sponsor.logo | absolute_url }}" class="sponsor" style="max-width: {{element_width}}px;"/>
            </a>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endfor %}

{% for sponsor in data.sponsors.ctf %}
<div style="width:30vw; margin: 70px auto 50px auto; display: flex; align-items: center; justify-content: center;">
  <img src="{{ sponsor.logo | absolute_url }}" width="60%" style="float:left; margin-right:20px;"
    alt="{{ sponsor.name }} Logo" title="{{ sponsor.name }} Logo" />
  <h3 style="margin:0px; padding:0px; display:inline; font-size: 1.45rem;">
    CTF prizes sponsored by
    <a style="text-decoration:underline;" href="{{ sponsor.url | absolute_url }}" target="_blank">
      {% assign split_url = sponsor.url | split: "/" %}
      {{ split_url[2] }}
    </a>
  </h3>
</div>
{% endfor %}

{% for sponsor in data.sponsors.infra %}
<div style="width:30vw; margin: 70px auto 50px auto; display: flex; align-items: center; justify-content: center;">
  <img src="{{ sponsor.logo | absolute_url }}" width="60%" style="float:left; margin-right:20px;"
    alt="{{ sponsor.name }} Logo" title="{{ sponsor.name }} Logo" />
  <h3 style="margin:0px; padding:0px; display:inline; font-size: 1.45rem;">
    Infra sponsored by
    <a style="text-decoration:underline;" href="{{ sponsor.url | absolute_url }}" target="_blank">
      {% assign split_url = sponsor.url | split: "/" %}
      {{ split_url[2] }}
    </a>
  </h3>
</div>
{% endfor %}
