<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <a href="https://sigint.mx">
    <img src="https://comp-soc.com/static/img/sigs/sigint.png" style="width:51px;height:51px;">
    </a>
    <!-- <img src="https://2015.hacktheburgh.com/static/img/compsoc.png" alt="Xd" style="width:296px;height:51px;"> -->
    <p> Hosted by SIGINT Edinburgh.</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.dots.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min_2023.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main_2023.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
