#about {
  font-size: 120%;

  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }
}

.tech {
  margin: 10px;
  flex: 1 1 0;
  h2, h3 {
    font-weight: 400;
  }
  b {
    color: #fff;
  }
}

.sponsor {
  margin-top: auto;
  margin-bottom: auto;
}

.sponsor img {
  width: 300px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.sponsors div {
  vertical-align: middle;
}

.submit {
  background-color: #1B222C;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: justify;
  margin: 0 auto 5px;
  h1, h2 {
    font-weight: 400;
  }
}

.prizes {
  margin-top: -1em;
  font-size: 22px;
  color: white;
}

#first-place {
  color: #ffb300;
}

#second-place, #third-place {
  color: #fff;
}

.register-button {
  background-color: #363636;
  box-shadow: 0 5px 0 #000;
  color: white;
  padding: 0em 1.5vw;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.register-button:hover {
  background-color: #000;
}

.sponsor_placeholder {
  background: #202122;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}

.sponsor_placeholder_platinum {
  border-color: lightblue;
  zoom: 1.50;
}

.sponsor_placeholder_gold {
  border-color: gold;
  zoom: 1.25;
}

.sponsor_placeholder_silver {
  border-color: silver;
  zoom: 1.00;
}

.sponsor_placeholder_bronze {
  border-color: sienna;
  zoom: 0.75;
}

.speaker-container {
  display: flex;
  align-items: center;
  text-align: left;
}

.placeholder-image {
  width:40%;
  max-height:150px;
  max-width: 150px;
  opacity:0.25;
}

.speaker-image {
  width:40%;
  max-height:150px;
  max-width: 150px;
}

.talk-info {
  text-align: left;
  padding-left: 20px;
}

.talk-title {
  font-size: 1.4vw;
  font-weight: bold;
}

.speaker-name {
  font-size: 18px;
  font-style: italic;
}

.talk-description {
  font-size: 1vw;
  text-align: justify;
}
